.contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto 100px auto;
  padding: 50px 0px 0px 0px;
  background-color: transparent;
  &.movie__view {
    display: flex;
  }
}

.searcher{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contenedor .pelicula {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  margin: 0px 0px 25px 0px;
  transition: display 300ms ease;
}

.contenedor .contend__poster {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 0.7em;
  width: 100%;
  min-height: 250px;
  transition: transform 200ms ease;
  .img_poster {
    border-radius: 0.5em;
  }
  .contend__hover {
    width: 100%;
    height: 100%;
    top: -500px;
    left: 0;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .button-preview {
      background-color: #3fcc7c00;
      width: 100%;
      height: 100%;
      outline: none;
      font-weight: 600;
      border-radius: 0.5em;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5em;
      padding: 15px 0px 0px 0px;
      transition: color 200ms ease;
      cursor: pointer;
      &:hover {
        color: #000000;
      }
    }
  }
  &:hover .contend__hover {
    background-color: #00000062;
    top: 0;
  }

  &:hover{
    transform: scale(1.1);
  }
}

.movie_link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.contenedor .poster {
  object-fit: cover;
}

.contenedor .pelicula .titulo {
  font-size: 1.1em;
  font-weight: 500;
  margin: 10px 0px 0px 0px;
  color: #ffffff;
  display: flex;
}

.contenedor .pelicula .poster {
  width: 100%;
  min-height: 200px;
  border-radius: 15px;
  border-radius: 0.7em;
}

// .paginacion {
// 	position: fixed;
// 	bottom: 0;
// 	background: #100a1f;
// 	width: 100%;
// 	display: flex;
// 	justify-content: center;
// 	gap: 20px;
// 	padding: 10px;
// }

// .paginacion button {
// 	cursor: pointer;
// 	border: none;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	text-align: center;
// 	height: 50px;
// 	width: 200px;
// 	background: #241744;
// 	color: #fff;
// 	border-radius: 100px;
// 	font-family: "Montserrat", sans-serif;
// 	font-weight: 600;
// 	transition: 0.3s ease all;
// }

// .paginacion button:hover {
// 	background: #137c32;
// }

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: transparent;
  z-index: 30;
}

.name__beta {
  position: absolute;
  right: 50px;
  color: #474747;
  font-weight: 600;
}

footer .leyenda {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

footer .leyenda p a {
  text-decoration: none;
  color: #9f9f9f;
  font-size: 0.7em;
  padding: 20px 25px;
  border-radius: 0.7em;
  &.leyenddark {
    color: #ffffff;
  }
}

@media screen and (max-width: 769px) {

  .contenedor {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0px 0px 100px 0px;
    padding: 70px 20px 0px 20px;
  }
  .contenedor .pelicula {
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width: 425px) {
  .contenedor {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 0px 0px;
    justify-items: center;
  }
  .contenedor .pelicula {
    width: 250px;
    height: 450px;
    padding: 0px 0px;
    margin: 15px 0px;
  }
  footer {
    .name__beta {
      right: 10px;
    }
  }
}
