$shamrock-50: #ecfdf4;
$shamrock-100: #d1fae2;
$shamrock-200: #a7f3cb;
$shamrock-300: #50e29e;
$shamrock-400: #34d38e;
$shamrock-500: #10b975;
$shamrock-600: #05965f;
$shamrock-700: #04784f;
$shamrock-800: #065f40;
$shamrock-900: #064e36;
$shamrock-950: #022c1f;
