.share-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0.2rem;
  align-items: center;
  /* margin: 20px; */
  color: #ffffff;
}

.share-tittle {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 0.2rem;
  font-weight: bold;
  /* margin-right: 20px; */
}

.share-tittle span {
  font-size: 1rem;
}

.share-contend-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.share-button {
  margin: 0px 10px;
  /* background-color: #007bff; */
  /* color: white; */
  /* padding: 10px 20px; */
  /* border-radius: 5px; */
  cursor: pointer;
}
