.slider-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.popularyTitle{
  font-size: 3em;
  padding: 20px 20px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.contendCarrussel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px 20px;
}

.posterImg {
  display: flex;
  object-fit: cover;
  width: 250px;
  border-radius: 0.5em;
}
