.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.popularyTitle {
  font-size: 3em;
  padding: 20px 20px;
  font-weight: 700;
  display: flex;
  z-index: 300;
  justify-content: flex-start;
}

.contendCarrussel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px 20px;
}

.boxNumberMovie {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.numberMovie {
  color: #00000096;
  position: absolute;
  right: -70px;
  top: 0;
  font-size: 9em;
  font-weight: 900;
  -webkit-text-stroke-width: 2px; /* Ancho del borde */
  -webkit-text-stroke-color: rgb(255, 255, 255); /* Color del borde */
}

.poster {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.posterImg {
  display: flex;
  object-fit: cover;
  width: 200px;
  height: 300px;
  cursor: pointer;
  border-radius: 0.5em;
}

@media screen and (max-width: 768px) {
  .numberMovie{
    font-size: 7em;
  }
}

@media screen and (max-width: 426px) {
.posterImg {
  width: 150px;
  height: 200px;
}
  .numberMovie{
    font-size: 5em;
  }
}

@media screen and (max-width: 326px) {
.posterImg {
  width: 100px;
  height: 150px;
}
  .numberMovie{
    font-size: 3em;
  }
}