.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.redirectButton{
    background-color: #ffffff25;
    color: #ffffff;
    border: solid 1.5px #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.5rem;
    transition: background 300ms ease;
}

.redirectButton:hover{
    background: #ffffff;
    color: #000000;
}