.ButtonPrev {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70px;
  & button {
    transition: background-color 300ms ease-in-out;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    font-size: 3.5em;
    height: 250px;
    cursor: pointer;
    width: 100%;
    border-radius: .2em;
    &:hover {
      background-color: #ffffff34;
            border-radius: .2em;
    }
  }
}

.ButtonNext {
  position: absolute;
  right: 0;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70px;
  & .icon__button {
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;
    transition: background-color 300ms ease-in-out;
    font-size: 3.5em;
    height: 250px;
    cursor: pointer;
    width: 100%;
    border-radius: .2em;
    &:hover {
      background-color: #ffffff34;
      border-radius: .2em;
    }
  }
}
