// @import "_variables";

.buttonUp {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: black;
  font-size: 2.3em;
  border-radius: 50%;
  background-color: aliceblue;
  //   background-color: $shamrock-900;
}
