.BoxFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 400;
  position: relative;
  flex-wrap: wrap;
}

.icon-click {
  cursor: pointer;
}

.tagFilter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
}

.keyWordsContainer {
  position: relative;
  display: flex;
}

.keyWords {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgba(65, 65, 65, 0.311);
    backdrop-filter: blur(5px);
    position: absolute;
    border-radius: 0.5em;
    left: 0;
    top: -10px;
    z-index: 300;
}

@media screen and (max-width: 585px) {
.keyWordsContainer{
  position: absolute;
  left: -150px;
  bottom: -30px;
}
}
