.search {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 100px 0px 0px 0px;
}

.searcher{
  display: flex;
  justify-content: center;
  
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #2e2e2e;
  border: none;
  color: #ffffff;
  padding: 0.7rem 1rem;
  border-radius: 1em;
  width: 230px;
  transition: background-color 300ms ease-in-out ;
  margin-right: -2rem;
    box-shadow: 0 0 1em #00000013;
}

.search__click__input {
  background-color: #ffffff;
  color: #2e2e2e;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.search__click__input:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}

/* .search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
} */

.search__input:focus {
  outline: none;
  background-color: #000000;
}

.search__input::-webkit-input-placeholder {
  font-weight: 500;
  color: #b2b2b2;
}
/* 
.search__input:focus + .search__button {
  background-color: #000000;
} */

.search__button {
  border: none;
  background-color: transparent;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #ffffff;
}

.filter__container{
  position: relative;
  display: flex;
  padding: 0px 0px 0px 30px;
}

@media screen and (max-width: 768px) {
  .searcher{
  margin: 0px 0px 0px 20px;
}

.search__input {
  width: 200px;

}

}

@media screen and (max-width: 370px) {
  .searcher{
  margin: 0px 0px 0px -20px;
}

.search__input {
  width: 150px;

}

}

.search__skeleton {
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 1em;
  margin-right: -2rem;
  animation: skeleton-loading 1s infinite linear;
}

.search__skeleton + .search__skeleton {
  margin-top: 1rem;
}



@keyframes skeleton-loading {
  0% {
    background-position: -230px 0;
  }
  100% {
    background-position: 230px 0;
  }
}