.slider_container {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  margin: 40px 10px;
}

.title__casting {
  font-weight: 600;
  font-size: 3.5em;
  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  cursor: pointer;
}

.name__casting {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.img__casting {
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 0.5em;
  width: 170px;
  height: 250px;
  margin: 10px 30px;
}

.casting {
  padding: 30px 0px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.casting::-webkit-scrollbar {
  height: 5px;
}

.casting::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.no-recomendations h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .title__casting {
    font-size: 2.5em;
  }

  .img {
    width: 150px;
    height: 200px;
  }

  .casting {
    padding: 20px 0px;
  }

  .no-recomendations h3 {
    font-size: 1.5em;
  }
  
}

@media screen and (max-width: 480px){
  .title__casting {
    font-size: 2em;
  }

  .img {
    width: 120px;
    height: 170px;
  }

  .casting {
    padding: 10px 0px;
  }

  .no-recomendations h3 {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 320px){
  .title__casting {
    font-size: 1.9em;
  }
}