.header {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  min-width: 350px;
  z-index: 500;
  transition: background 200ms ease;
}

.logo {
  opacity: 0;
  transition: opacity 300ms ease-in;
  cursor: pointer;
}

.icon__login__user {
  display: flex;
  width: 70px;
  z-index: 700;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.logo__scroll {
  opacity: 1;
}

.scroll_nav {
  background: #00000088;
  backdrop-filter: blur(5px);
}

.logo-website {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 700;
  left: 40px;
  top: 10px;
}

.nav {
  position: relative;
  display: flex;
  flex-shrink: 3;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.listNav {
  list-style: none;
  display: flex;
  padding: 20px 0px;
}

.li {
  display: flex;
  padding: 5px 15px;
  font-size: 1.2em;
  transition: background 200ms ease;
  /* color: #ffffff; */
  border-radius: 0.5em;
  font-weight: 600;
}
.link__icon {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 0px 5px;
  text-align: center;
}

.icon__responsive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie__options {
  display: none;
}

.list__option__movies {
  display: none;
}

.link__icon:hover .list__option__movies {
  display: flex;
  width: 3rem;
  left: 0;
  top: 1.8rem;
  list-style: none;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff36;
  border-radius: 0.5em;
  padding: 5px 0px;
}

.link:hover {
  background-color: #dadada75;
  border-radius: 0.5em;
}

.link:hover .movie__options {
  display: block;
}

.search__contend {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 5;
  width: 100%;
  position: relative;
  margin: 0px 25px 0px 20px;
}

.link {
  display: flex;
  width: 100%;
  padding: 5px 15px;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  transition: background 200ms ease;
}

.ligth {
  color: #ffffff;
}

.link-dark-mode:hover {
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.26);
}

.listNavResponsive {
  display: none;
  z-index: 900;
}

.button-logout {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 0.7em;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: solid #ffffff 1.5px;
  margin-right: 1rem;
  outline: none;
  background: transparent;
  transition: all 200ms ease;
}

.button-logout:hover {
  background-color: #ffffff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .nav {
    margin: 50px 0px 0px 0px;
  }
  .link__icon {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0px 10px;
    text-align: center;
  }

  .icon__responsive {
    display: flex;
    padding: 0px 15px;
    margin-left: 35px;
    align-items: center;
    justify-content: flex-start;
  }

  .listNav {
    position: absolute;
    right: 0px;
    top: -950px;
    z-index: 700;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #060606;
    transition: top 200ms ease;
  }

  .icon__login__user {
    left: 45px;
  }

  .menu__active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 700;
  }

  .listNavResponsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 10px;
  }

  .button-logout {
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    top: 10px;
    left: 70px;
  }
}
