.header {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  min-width: 350px;
  background: #ffffff05;
  backdrop-filter: blur(3.5px);
  z-index: 500;
}
.logo-website {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav {
  position: relative;
  display: flex;
  flex-shrink: 3;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.listNav {
  list-style: none;
  display: flex;
  padding: 20px 0px;
}

.li {
  display: block;
  padding: 5px 15px;
  font-size: 1.2em;
  transition: background 200ms ease;
  color: #ffffff;
  border-radius: 0.5em;
  font-weight: 600;
}

.li:hover {
  border-radius: 0.5em;
  background: rgba(54, 54, 54, 0.26);
}

.search__contend {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 5;
  width: 100%;
  position: relative;
  margin: 0px 25px 0px 20px;
}

.link-dark-mode {
  display: block;
  padding: 5px 15px;
  font-size: 1.2em;
  transition: background 200ms ease;
  color: #ffffff;
  font-weight: 600;
}

.link-dark-mode:hover {
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.26);
}
